.App {
  /* text-align: center; */
  width: 600px;
}

.Item-Input-Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Distance-Input {
  display: block;
}

/* .col-a {
  width: 50px;
} */
.col-b {
  width: 100px;
}
.cost-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-icon {
  height: 10px;
  width: 10px;
}